---
const {content} = Astro.props;
const currentPath = Astro.url.pathname

import 'bootstrap/dist/css/bootstrap.min.css'
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import './BaseLayout.scss'

const schema = JSON.stringify({
    "@context": "https://schema.org/",
    "@type": "Article",
    "name": content.title,
    "headline": content.title,
    "author": {
        "@type": "Organization",
        "name": "greatbassexercises",
        "url": "https://datenkatze.de/greatbassexercises/",
        "logo": "https://datenkatze.de/greatbassexercises/icon512.png"
    },
    "description": content.description,
});

const year = new Date().getFullYear();
---

<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HHVHTMJQEC"></script>
        <script>
            window.dataLayer = window.dataLayer || []

            function gtag() {
                dataLayer.push(arguments)
            }

            gtag('js', new Date())
            gtag('config', 'G-HHVHTMJQEC', {'anonymize_ip': true})

        </script>
        <meta charset="utf-8" />
        <link rel="icon" href="/greatbassexercises/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content={content.description} />
        <link rel="manifest" href="/greatbassexercises/manifest.json" />
        <link rel="apple-touch-icon" href="/greatbassexercises/icon512.png" />
        <meta property="og:site_name" content="greatbassexercises">
        <meta property="og:url" content="https://datenkatze.de/greatbassexercises/">
        <meta property="og:title" content={content.title}>
        <meta property="og:description" content={content.description}>
        <meta property="og:image" content="https://datenkatze.de/greatbassexercises/icon512.png">
        <link rel="sitemap" href="/greatbassexercises/sitemap-index.xml">
        <script type="application/ld+json" set:html={schema}></script>
        <title>{content.title}</title>
    </head>
    <body>

        <header>
            <nav class="navbar" data-current-path={currentPath}>
                <div class="container">
                    <a class="navbar-brand" href="/greatbassexercises/">
                        <img src="/greatbassexercises/icon192.png" width="30" height="30" class="d-inline-block align-top"
                             alt="GreatBassExercises Logo">
                        GreatBassExercises
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mb-4">
                            <li class="nav-item">
                                <h3>Major Scales</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/greatbassexercises/scales/c-major-fourths/">C Major in fourths</a></li>
                                    <li class="nav-item"><a href="/greatbassexercises/scales/c-major-thirds/">C Major in thirds</a></li>
                                </ul>
                                <h3>Minor Scales</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/greatbassexercises/scales/d-minor-thirds/">D Minor in thirds</a></li>
                                    <li class="nav-item"><a href="/greatbassexercises/scales/e-melodic-minor-thirds/">E Melodic Minor in
                                        thirds</a></li>
                                </ul>
                                <h3>Arpeggios</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/greatbassexercises/arpeggio/tarantula/">C Minor Tarantula</a></li>
                                    <li class="nav-item"><a href="/greatbassexercises/arpeggio/tarantula-desc/">C Minor Tarantula
                                        Descending</a></li>
                                </ul>
                                <h3>Chords</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/greatbassexercises/chords/g-major-10ths/">G Major 10th Chords</a></li>
                                    <li class="nav-item"><a href="/greatbassexercises/chords/d-triads/">Triads in D</a></li>
                                </ul>
                                <h3>Yoga</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/greatbassexercises/yoga/hazard-part-a/">Hazard Exercise Part A</a></li>
                                    <li class="nav-item"><a href="/greatbassexercises/yoga/the-clamp/">The Clamp</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container mt-5 mb-5">
                <slot />
            </div>
        </main>


        <footer>
            <div class="container">
                <div class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top">

                    <p class="col-md-6 mb-0 text-muted">
                        © {year} datenkatze.de
                    </p>

                    <ul class="nav col-md-6 justify-content-end">
                        <li class="nav-item">
                            <a href="/greatbassexercises/imprint" class="nav-link px-2 text-muted">Imprint / Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <script src={bootstrap}></script>
        <script>
            const currentPath = document.querySelector('nav').getAttribute('data-current-path');
            document.querySelectorAll('.nav-item a').forEach(item => {
                if (item.getAttribute('href') === currentPath) {
                    item.classList.add('text-dark');
                    item.classList.add('fw-bold');
                }
            });
        </script>
    </body>
</html>
