---
const {content} = Astro.props;
import 'bootstrap/dist/css/bootstrap.min.css'
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import './BaseLayout.scss'

const schema = JSON.stringify({
    "@context": "https://schema.org/",
    "@type": "Article",
    "name": content.title,
    "headline": content.title,
    "author": {
        "@type": "Organization",
        "name": "greatbassexercises.com",
        "url": "https://greatbassexercises.com/",
        "logo": "https://greatbassexercises.com/icon512.png"
    },
    "description": content.description,
});
---

<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HHVHTMJQEC"></script>
        <script>
            window.dataLayer = window.dataLayer || []

            function gtag() {
                dataLayer.push(arguments)
            }

            gtag('js', new Date())
            gtag('config', 'G-HHVHTMJQEC', {'anonymize_ip': true})

        </script>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content={content.description} />
        <link rel="manifest" href="/manifest.json" />
        <link rel="apple-touch-icon" href="/icon512.png" />
        <meta property="og:site_name" content="greatbassexercises.com">
        <meta property="og:url" content="https://greatbassexercises.com/">
        <meta property="og:title" content={content.title}>
        <meta property="og:description" content={content.description}>
        <meta property="og:image" content="https://greatbassexercises.com/icon512.png">
        <link rel="sitemap" href="/sitemap-index.xml">
        <script type="application/ld+json" set:html={schema}></script>
        <title>{content.title}</title>
    </head>
    <body>

        <header>
            <nav class="navbar">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="/icon192.png" width="30" height="30" class="d-inline-block align-top"
                             alt="GreatBassExercises.com Logo">
                        GreatBassExercises.com
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mb-4">
                            <li class="nav-item">
                                <h3>Major Scales</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/scales/c-major-fourths/">C Major in fourths</a></li>
                                    <li class="nav-item"><a href="/scales/c-major-thirds/">C Major in thirds</a></li>
                                </ul>
                                <h3>Minor Scales</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/scales/d-minor-thirds/">D Minor in thirds</a></li>
                                    <li class="nav-item"><a href="/scales/e-melodic-minor-thirds/">E Melodic Minor in
                                        thirds</a></li>
                                </ul>
                                <h3>Arpeggios</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/arpeggio/tarantula/">C Minor Tarantula</a></li>
                                    <li class="nav-item"><a href="/arpeggio/tarantula-desc/">C Minor Tarantula
                                        Descending</a></li>
                                </ul>
                                <h3>Chords</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/chords/g-major-10ths/">G Major 10th Chords</a></li>
                                    <li class="nav-item"><a href="/chords/d-triads/">Triads in D</a></li>
                                </ul>
                                <h3>Yoga</h3>
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="/yoga/hazard-part-a/">Hazard Exercise Part A</a></li>
                                    <li class="nav-item"><a href="/yoga/the-clamp/">The Clamp</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container mt-5 mb-5">
                <slot />
            </div>
        </main>

        <script src={bootstrap}></script>
    </body>
</html>
